
@color1: #f6f7eb; //rgba(246, 247, 235, 100)
@color2: #e94f37; //rgba(233, 79, 55, 100)
@color3: #393e41; //rgba(57, 62, 65, 100)
@color4: #3f88c5; //rgba(63, 136, 197, 100)
@color5: #44bba4; //rgba(68, 187, 164, 100)

@bg-body: @color3;
@bg-header: @color4;
@bg-content: @color3;
@bg-footer: @color3;

@color-header-link: @color1;
@color-header-link-hover: #ffffff;

@color-content: @color1;

@color-footer-text: @color3;

@base-padding-horizontal: 15px;
@base-padding-vertical: 15px;

@base-margin-horizontal: 15px;
@base-margin-vertical: 15px;

@viewport-screen-phone-xs: 320px;
@viewport-screen-phone: 480px;
@viewport-screen-tablet: 768px;
@viewport-screen-laptop: 992px;
@viewport-screen-desktop: 1200px;